<!-- External Site -->
<iframe #contentIframe [ngStyle]="getElStyle()" class="abs-area" *ngIf="config.isContent && targetUrl && isValidUrl(config.iframeTarget)"
  [src]="targetUrl" frameborder="0" allowfullscreen></iframe>

<!-- Static Text -->
<div [ngStyle]="getElStyle()" class="abs-area centered-content" *ngIf="config.isContent && !isValidUrl(config.iframeTarget)">{{config.iframeTarget}}</div>

<!-- Split -->
<div *ngIf="!config.isContent">
  <app-display-splitter [top]="splits()[0].top" [left]=splits()[0].left [width]="splits()[0].width" [height]="splits()[0].height"
    [config]="config.nodes[0]"></app-display-splitter>
  <app-display-splitter [top]="splits()[1].top" [left]=splits()[1].left [width]="splits()[1].width" [height]="splits()[1].height"
    [config]="config.nodes[1]"></app-display-splitter>
</div>
